html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Nueue, sans-serif;
}

#game {
  width: 500px;
  margin: 0 auto;
}

#canvas {
  background: #000;
}

h1 {
  text-align: center;
}

#key-up, #key-down {
  text-transform: uppercase;
  float: left;
  line-height: 20px;
  text-align: center;
  margin: 0px 4px 8px 0px;
  padding: 0;
  width: 60px;
  height: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  color: #000;
}

#key-up.active, #key-down.active {
  border-color: red!important;
}